pypdf==4.2.0    # For reading PDF files
spacy==3.7.4    # For Natural Language Processing (NER, POS, etc.)
streamlit==1.36.0 # For building the web-based user interface
pandas==2.2.2   # For data manipulation and tabular display